.inlineBlock {
    display: inline-block;
}


/*--------------------------------------------------
                    HEADER
--------------------------------------------------*/
#menu {
    display: inline-block;
    float:left;
    width: 10%;
    height: 100%;
}

#mp-pusher .top-bar{
    max-height: 15%;
    background-color: #2C4E84;
    max-height: 100px;
    min-height: 7%;
    position: absolute;
}

#title {
    width: 59%;
    height: 100%;
    margin: auto;
}
#navIcon {
    margin: auto;
    max-height: 100px;
    min-height: 7%;
    max-width:20%;
    display: inline;
}

#banner {
    display: inline;
    max-width: 70%;  
    max-height: 100px;
    min-height: 7%;
}

#millburnLogo {
    display: inline;
    max-height: 100px;
    max-width: 10%;
    padding: 0px;
    margin: 0px 0px 10px 8%;
}



/*--------------------------------------------------
                        BODY
--------------------------------------------------*/
.wrap {
    height: 100%;
}

.top-bar {
    width: 100%;
    height: 20%;
    display: block;
    z-index: 9999;
}

.scroller {
    display: block;
	overflow-y: scroll;
    position: relative;
}

.scroller-inner {
    margin-top: 15%;
}

.top-bar {
    max-width: 99%;
    text-align: center;
}


.container {
    max-height: 100%;
    color: #2C4E84;
    background-color: #ffffff;
}


/*--------------------------------------------------
                        FOOTER
--------------------------------------------------*/

.footer {
    display: block;
    height: 275px;
    width: 100%;
    border-top: 3px solid #131367;
}

#footer-text {
    display: block;
    width: 30%;
    margin: 0px;
    padding: 0px;
    margin: 0% 35%;
}

.footer div h1 {
    width:100%;
}

.logo {
    display: inline-block;
    float: right;
    max-height: 80px;
    max-width: 80px;
    padding: 0px;
    margin: 10px;
}

.logo a img {
    max-height: 100%;
    max-width: 100%;
    border: 2px solid black;
    border-radius: 20px;
}


.footer #copyright {
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 0;
    margin: 3% 25% 0%;
    color:cadetblue;
}
