.inlineBlock {
    display: inline-block;
}

#menu {
    width: 20%;
    height: 100%;
}

#title {
    width: 59%;
    height: 100%;
    margin: auto;
}

#logo {
    height: 100%;
    width: 20%;
    float: right;
}

.scroller {
	
    /*overflow-y: scroll;
    position: relative;*/
    padding: 70px 50px 150px 50px;
}

.top-bar {
    max-width: 99%;
    text-align: center;
}


.container {
    max-height: 100%;
}

footer{
    display:block;
    padding-top: 50px;
    
}