.inlineBlock {
    display: inline-block;
}
/*--------------------------------------------------
                    HEADER
--------------------------------------------------*/
#menu {
    display: inline-block;
    float:left;
    width: 10%;
    height: 100%;
}

#mp-pusher .top-bar{
    max-height: 15%;
}

#title {
    width: 59%;
    height: 100%;
    margin: auto;
}

#banner {
    display: inline-block;
    max-width: 40%;  
    margin: 0% 18%;
}

#millburnLogo {
    display: inline;
    max-height: 100%;
    max-width: 100%;
    padding: 0px;
    margin: 10px 0px 0px 8%;
}

#millburnLogo img {
    max-height: 10%;
    max-width: 5%;
}

/*--------------------------------------------------
                        BODY
--------------------------------------------------*/
.scroller {
	overflow-y: scroll;
    position: relative;
    padding: 10px 50px 0px;
}

.top-bar {
    max-width: 99%;
    text-align: center;
}


.container {
    max-height: 100%;
    background-color: #2C4E84;
}


/*--------------------------------------------------
                        FOOTER
--------------------------------------------------*/

.footer {
    display: block;
    height: 275px;
    width: 100%;
    border-top: 3px solid #131367;
}

#footer-text {
    display: block;
    width: 30%;
    margin: 0px;
    padding: 0px;
    margin: 0% 35%;
}

.footer div h1 {
    width:100%;
}

.logo {
    display: inline-block;
    float: right;
    max-height: 80px;
    max-width: 80px;
    padding: 0px;
    margin: 10px;
}

.logo a img {
    max-height: 100%;
    max-width: 100%;
    border: 2px solid black;
    border-radius: 20px;
}


.footer #copyright {
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 0;
    margin: 3% 25% 0%;
    color:cadetblue;
}
