.inlineBlock {
    display: inline-block;
}


/*--------------------------------------------------
                    HEADER
--------------------------------------------------*/
#menu {
    display: inline-block;
    float:left;
    max-width: 5%;
    max-height: 100%;
    min-width: 5%;
    min-height: 5%;
    margin: 0 0 3% 3%;
}
#mp-pusher {
    height: 100%;   
}
#mp-pusher .top-bar{
    position: relative;
    height: 17%;
    max-height: 20vw;
    background-color: #2C4E84;
    text-align: : center;
    padding: 1px;
}

#title {
    width: 59%;
    height: 100%;
    margin: auto;
}
#navIcon {
    height: 3px;
    width: 15%;
    display: inline;
}

#banner {
    display: inline;
    position: absolute;
    float: left;
    left: 21%;
    top: 25%;
    max-width: 60%; 
    max-height: 100px;
    min-height: 30px;

}

#millburnLogo {
    position: absolute;
    display: inline;
    float: right;
    right: 2%;
    top: 12%;
    max-height: 80%;
    min-height: 60%;
    max-width: 15%;
}



/*--------------------------------------------------
                        BODY
--------------------------------------------------*/

.scroller {
    position: relative;
    max-height: 82.8%;
    float: right;
	overflow-y: scroll;
}

.scroller-inner{
    text-indent: 4em;  
        margin: 10px 50px 0px;
}
.container {
    height: 100%;
    color: #2C4E84;
    background-color: #ffffff;
}

body{
    height: 100%;   
}

/*--------------------------------------------------
                        FOOTER
--------------------------------------------------*/

.footer {
    display: block;
    height: 275px;
    width: 100%;
    border-top: 3px solid #131367;
}

#footer-text {
    display: block;
    width: 30%;
    margin: 0px;
    padding: 0px;
    margin: 0% 35%;
}

.footer div h1 {
    width:100%;
}

.logo {
    display: inline-block;
    float: right;
    max-height: 80px;
    max-width: 80px;
    padding: 0px;
    margin: 10px;
}

.logo a img {
    max-height: 100%;
    max-width: 100%;
    border: 2px solid black;
    border-radius: 20px;
}


.footer #copyright {
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 0;
    margin: 3% 25% 0%;
    color:cadetblue;
}
