<div id="nav">
	<ul class="nav-elements">
		<li class="logo">
			millburn robotics
		</li>
		<li>
			<ul class="links">
				<li>Home</li>
				<li>Our Team</li>
				<li>Gallery</li>
				<li>Blog</li>
				<li>Our Sponsors</li>
				<li>Contact Us</li>
			</ul>
		</li>
		<li>
			<ul class="social">
				<li><a href="https://facebook.com/MillburnRobotics"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://youtube.com/channel/UCGjDObEnai7PjG7jnsCBzLQ"><i class="fa fa-youtube-play"></i></a></li>
			</ul>
		</li>
	</ul>
</div>