/* ALL PAGES */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	color: white;
	font-family: 'Lato';
}

h1 {
	margin: 0;
}

a {
	color: inherit;
}

.logo {
	font-family: 'Blade Runner';
}

/* FONTS */

@font-face {
	font-family: 'Blade Runner';
	src: url('../fonts/BR.ttf') format('truetype');
}

/* HEADER */

#header {
	width: 100%;
	height: 100%;
	margin: 0;
	background: linear-gradient(45deg, #2532F5, #07092F);
}

#header .logo {
	position: absolute;
	font-size: 400%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

/* NAV */

#nav {
	width: 100%;
	background: #202020;
}

#nav ul {
	list-style-type: none;
	padding: 5px;
	margin: 0;
}

#nav li {
	display: inline-block;
}

#nav .logo {
	font-size: 150%;
	padding-left: 5px;
}

#nav .logo:hover {
	cursor: pointer;
}

#nav ul.links li  {
	padding: 12px;
	border-radius: 5px;
	margin: 2px;
}

#nav ul.links li:hover {
	background-color: white;
	color: #252525;
	cursor: pointer;
}

#nav ul.social {
	padding-left: 10px;
}

#nav ul.social li {
	padding: 5px;
}

#nav ul.social li:hover {
	color: #808080;
	cursor: pointer;
}

#nav ul.links li, #nav ul.links li:hover, #nav ul.social li, #nav ul.social li:hover {
	-webkit-transition: all 0.1s ease-out;
  	-moz-transition: all 0.1s ease-out;
  	transition: all 0.1s ease-out;
}

@media screen and (max-width: 600px) {
	#nav ul.nav-elements > li, #nav ul.links li {
		display: block;
		text-align: center;
	}
}

/* HOMEPAGE */

body.home {
	overflow: hidden;
}

.home #nav {
	position: absolute;
	bottom: 0;
	opacity: 0.8;
}

.home #nav .logo {
	display: none;
}

.home #nav ul.nav-elements {
	max-width: 700px;
	margin: auto;
}

